@model IEnumerable<TheOneTag.Models.LeagueListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

@if (TempData.ContainsKey("NotSaved"))
{
    <div class="alert alert-danger fade in" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["NotSaved"]
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LeagueId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeagueName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeagueZipCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LeagueId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeagueName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeagueZipCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.LeagueId  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.LeagueId  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.LeagueId  })
        </td>
        
    </tr>
}

</table>
